    
<!DOCTYPE html>
<html lang="en">
   <body>
       <head>
           <title>Show Books</title>
        
           <link rel="stylesheet" href="../../public/styles/reset.css">
        <link rel="stylesheet" href="../../public/styles/base.css">
        <link rel="stylesheet" href="../../public/styles/modules.css">
        <link rel="stylesheet" href="../../public/styles/layout.css">
       </head>
       <nav class="nav">Best Books!</nav>
       <div class="first">Search Results </div>
       <ul>
           <% searchResults.forEach(item => { %>
               <p>Title: <%= item.title %></p>
          <% }) %>
       </ul>
       

   </body>
</html>