    
<!DOCTYPE html>
<html lang="en">
   <body>
       <head>
            <link rel="stylesheet" href="../../public/styles/reset.css">
            <link href="../../public/styles/base.css" rel="stylesheet" type="text/css">
            <link href="../../public/styles/layout.css" rel="stylesheet" type="text/css">
            <link href="../../public/styles/modules.css" rel="stylesheet" type="text/css">
           <title>Show Books</title>
        
       </head>
       <div class="page">
       <nav class="nav">Best Books!</nav>
       <div class="first">Search Results </div>
       
       <ul class="showlist">
           
                <% searchResults.forEach(book => { %>
                    <h4>Title: <%= book.title %></h4>
            <div>
                <img src= <%= book.image_url %>>
                <p><%=book.description %></p>
                <% }) %>

            </div>

           </li>
       </ul>
       </div>
       <div>
       </div>
    </div>

       

   </body>
</html>