<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../public/styles/reset.css">
        <link rel="stylesheet" href="../../public/styles/base.css">
        <link rel="stylesheet" href="../../public/styles/modules.css">
        <link rel="stylesheet" href="../../public/styles/layout.css">
        <title>Hello world!</title>
    </head>
    <body>
        <nav class="nav">Best Books!</nav>
        <div class="first">Search by title or author</div>
        <form action="search" method="post">
          <input type="text" placeholder="Enter title or author" name="search" required>
            <label>Author
                <input type="radio" name="search" value="author">
            </label>
            <label>Title
                <input type="radio" name="search" value="title">
            </label>
            <button>Search the book</button>
        </form>
    </body>
</html>