@media only screen and (max-width: 768px){
  body {
    width: 100%;
    align-items: center;
  }
} 

body{
  background-color: rgb(86, 86, 106);
}
.page {
  background-color: rgba(128, 128, 128, 0.911);
  height: 750px;
}

main {
  flex: 1;
  margin-top: 14vw;
  
}


footer{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 20px;
  background-color: rgb(88, 84, 84);
  padding: 5px;
  margin-bottom: 5px;
}
