@media only screen and (max-width: 768px){    
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body{
    width: 480px;
    background-color: azure;
    font-family: 'Nunito', sans-serif;
    margin: 0 auto;
    align-items: center;
}
}
body{
  background-color: rgb(86, 86, 106);
}

.hide-form {
  display: none;
}