.first {
    background-color: grey;
    height: 50px;
}
input {
    margin: 4em;
   
}
label {
    margin: 4em;
    
}
form {
    flex-direction: column;
}
/*show.ejs*/
ul {
    background-color: rgb(247, 247, 162);
}